@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>About Us</h1>
    <p class="lead">Gym Tracking Website is a fitness tracking application designed to help you achieve your fitness goals.</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Our Mission</h2>
        <p>We believe that fitness is an essential part of a healthy lifestyle, and we want to help people achieve their fitness goals by providing them with the tools they need to track their progress and stay motivated.</p>
        <p>Our mission is to make fitness tracking simple, intuitive, and accessible to everyone.</p>
    </div>
    <div class="col-md-6">
        <h2>Our Team</h2>
        <p>We are a team of fitness enthusiasts, software engineers, and designers who are passionate about creating products that make a positive impact on people's lives.</p>
        <p>Our team is dedicated to constantly improving our product and providing the best possible user experience for our customers.</p>
    </div>
</div>
<footer class="mt-5">
    <p>&copy; 2023 Gym Tracking Website</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>